@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/*HEADER*/

/*NAVBAR 1 NO TOCAR */
nav.navbar.bg-body-tertiary{
    height: auto;
    width: 95%;
    padding: 0;
    margin: 0;
    border-radius: 50px;
    display: flex;
    margin-left: 30px;
    position: fixed !important;
    z-index: 1;
}

#body-header-navbar1{
    display: flex;
    width: 95%;
    height: auto !important;
    margin: 0;
    padding: 5px;
}

.navbar{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

div.container-fluid{
    margin-top: -5px;
    padding: 5px;
    background-color: hsla(67, 92%, 85%, 0.633);
    border-radius: 40px;
    display: flex;
}

a.navbar-brand{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    margin-left: 100px;
    color: hwb(62 3% 62%);
    transition: transform 0.3s ease-in-out;
}

a.navbar-brand:hover{
    color: rgb(44, 43, 3);
    text-decoration: none;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

form.d-flex{
    position: relative;
    left: -50px;
    display: flex;
    width: auto;
    height: 40px;
    margin-left: -10px;
}

input.form-control.me-2{
    width: 320px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid rgb(65, 51, 2);
}

input.form-control.me-2:hover{
    box-shadow: 0px 0px 100px 15px rgb(65, 51, 2);
}

input.form-control.me-2:focus{
    box-shadow: 0px 0px 100px 15px rgb(65, 51, 2);
}

button.btn.btn-outline-success{
    display: flex;
    width: 100px;
    border-radius: 40px;
    border: 2px solid rgb(65, 51, 2);
    color:rgb(65, 51, 2);
}

button.btn.btn-outline-success:hover{
    background-color: #41330278;
}

/*HEADER CARRITO*/
#header-tienda{
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.container-icon{
    position: relative;
    position: fixed;
    left: 90%;
}

.icon-cart{    
    width: 40px;
    position: relative;
    top: -20px;
    stroke: #333504;
}

.icon-cart:hover{
    cursor: pointer;
}

.count-products{
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: hsl(63, 90%, 4%);
    color: rgb(242, 255, 0);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: fixed;
    right: 0;
    background-color: rgb(243, 255, 5);
    width: 400px;
    z-index: 2;
    box-shadow: 0 10px 20px  #2628026d;
    border-radius: 10px;
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
    color: hsl(63, 90%, 4%)s;
}

.titulo-producto-carrito{
    font-size: 20px;
    color: hsl(63, 90%, 4%);
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    color: hsl(63, 90%, 4%);
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: hsl(63, 90%, 4%);
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
    color: hsl(63, 90%, 4%);
}

.total-pagar{

    font-size: 20px;
    font-weight: 900;
    color: hsl(63, 90%, 4%);
    position: relative;
    top: -5px;
}

.hidden-cart{
    display: none;
}

/*NAVBAR 2 NO TOCAR */
#body-header-navbar2{
    position: absolute !important;
    top: 55px;
    height: 50px;
    width: 100%;
    background-color: hsla(88, 45%, 33%, 0.476);
}

.nav-item{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    height: 100%;
}

.nav-item .nav-link{
    color: #333504 !important;
    font-weight: bold;
}

.nav-item .nav-link:hover{
    color: #f8ff39 !important;
}

.nav-item .nav-link:active{
    color: #f8ff39 !important;
}

/*MAIN NO TOCAR*/
main {
    width: 100%;
    flex: 1;
    margin-top: 120px;
}

.encabezado {
    display: flex;
    position: relative;
    left: 220px;
    width: 800px;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.encabezado h2 {
    font-weight: bold;
    font-size: 35px;
    color: hsl(192, 39%, 23%);
}

.encabezado h2:hover {
    filter: drop-shadow(2px 2px 2px #333504);
}

#container-cards {
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    left: 20px;
}

.card-lautaro {
    display: flex;
    width: 1200px;
    height: 600px;
    padding: 15px;
    margin: 25px;
    border-radius: 20px;
    border: #333504 solid 2px;
    transition: all 0.3s ease-in-out;
}

.card-lautaro:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: #333504 0px 0px 100px 15px;
}

.card-gonzalo {
    display: flex;
    width: 1200px;
    height: 600px;
    padding: 15px;
    margin: 50px 0px;
    position: relative;
    left: 25px;
    border-radius: 20px;
    border: #333504 solid 2px;
    transition: all 0.3s ease-in-out;
}

.card-gonzalo:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: #333504 0px 0px 100px 15px;
}

.img-card {
    display: flex;
    width: 380px;
    height: 380px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 80px;
}

.img-card:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
}

.img-card img {
    border-radius: 50%;
}

h5.card-title {
    color: hsl(192, 39%, 23%);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.card-text {
    color: #333504;
    font-size: 17px;
    font-weight: bold;
    text-align: center;  
}

hr.separador{
    color: #585b04;
    height: 5px;
}

.objetivo-personal,.objetivo-profesional{
    color: #333504;
    font-weight: bold;
}

.redes-sociales {
    height: 100px;
    margin: 20px;
}

.redes-title {
    font-weight: bold;
    font-size: 20px;
    color: hsl(192, 39%, 23%);
    text-align: center;
}

.redes a{
    position: relative;
    left: 250px;
    display: inline-block;
    text-decoration: none;
    border: #333504 solid 2px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 15px;
    font-size: 30px;
    transition: .3s;
}

.redes a:hover{
    background-color: hsla(62, 86%, 11%, 0.465);
    transition: .3s;
}

/*FOOTER NO TOCAR*/
.footer {
    margin-top: 15px 0 0 0;
    background-color: hsla(62, 18%, 70%, 0.85);
    color: hsl(192, 39%, 23%);
}

.footer .container {
    max-width: 95vw;
    margin: 0;
}

.footer .row{
    max-width: 100vw;
    position: inherit;  
    height: 350px;
    margin: 0;
}

.footer .col-md-4 {
    display: block;
    justify-content: center;
    width: 0px;
    height: auto;
    padding: 30px;
}

.container1{
    width: 280px;
    height: auto;
    position: relative;
    left: 490px;
    top: 50px;
}

.container2{
    width: 280px;
    height: auto;
    position: relative;
    left: 780px;
    top: 50px;
}

.footer .arriba{
    border: 1px solid hsla(67, 90%, 34%, 0.471);
    width: 40px;
    height: 40px;
    background-color:hwb(62 0% 0%);
    position: absolute;
    left: 720px;
    transform: translateX(-50%);
    top: -20px;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px 1px hwb(67 4% 35% / 0.892);
}

.footer .arriba:hover{
    cursor: pointer;    
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px 10px #4c5605;
}

.footer h4 {
    font-weight: bold;
    text-align: center;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.footer ul a{
    font-size: 20px;
    text-decoration: none;
    color: hwb(61 0% 84%);
    transition: all 0.3s ease-in-out;
}

.footer ul a:hover{
    font-weight: bold;
    color: hwb(193 0% 85%);
    transition: all 0.3s ease-in-out;
}

ul.img-footer{
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
    top: -20px;
    left: 150px;
    margin: 0 !important;
    padding: 0 !important;
}

.footer ul img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
}

.footer ul img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 50px 10px rgb(65, 51, 2);
}

iframe.mapa{
    position: relative;
    top: 30px;
    left: 1155px;
    display: flex;
    width: 280px;
    height: 280px;
}