@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

/*HEADER*/
/*NAVBAR 1 NO TOCAR */
nav.navbar.bg-body-tertiary{
    height: auto;
    width: 95%;
    padding: 0;
    margin: 0;
    border-radius: 50px;
    display: flex;
    margin-left: 30px;
    position: fixed !important;
    z-index: 1;
}

#body-header-navbar1{
    display: flex;
    width: 100%;
    height: auto !important;
    margin: 0;
    padding: 5px;
}

.navbar{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

div.container-fluid{
    margin-top: -5px;
    padding: 5px;
    background-color: hsla(67, 92%, 85%, 0.633);
    border-radius: 40px;
    display: flex;
}

a.navbar-brand{
    font-weight: bold;
    font-size: 20px;
    display: flex;
    margin-left: 100px;
    color: hwb(62 3% 62%);
    transition: transform 0.3s ease-in-out;
}

a.navbar-brand:hover{
    color: rgb(44, 43, 3);
    text-decoration: none;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

form.d-flex{
    display: flex;
    width: auto;
    height: 40px;
    margin-left: -10px;
}

input.form-control.me-2{
    width: 320px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid rgb(65, 51, 2);
}

input.form-control.me-2:hover{
    box-shadow: 0px 0px 100px 15px rgb(65, 51, 2);
}

input.form-control.me-2:focus{
    box-shadow: 0px 0px 100px 15px rgb(65, 51, 2);
}

button.btn.btn-outline-success{
    display: flex;
    width: 100px;
    border-radius: 40px;
    border: 2px solid rgb(65, 51, 2);
    color:rgb(65, 51, 2);
}

button.btn.btn-outline-success:hover{
    background-color: #41330278;
}

.icon{
    display: flex;
    margin-right: 150px;
}

.icon a:hover{
    display: flex;
    transform: scale(1.1);
}

box-icon#carrito{
    width: 30px;
    height: 30px;
}

/*NAVBAR 2 NO TOCAR */
#body-header-navbar2{
    position: absolute !important;
    left: 0;
    top: 55px;
    height: 50px;
    width: 100%;
    background-color: hsla(88, 45%, 33%, 0.476);
}

.nav-item{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    height: 100%;
}

.nav-item .nav-link{
    color: #333504 !important;
    font-weight: bold;
}

.nav-item .nav-link:hover{
    color: #f8ff39 !important;
}

.nav-item .nav-link:active{
    color: #f8ff39 !important;
}

/* MAIN */ 
 *::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 2000px;
    font-family: 'Lato';
    color: #333;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}

/*FOOTER NO TOCAR*/
.footer {
    margin-top: 15px 0 0 0;
    background-color: hsla(62, 18%, 70%, 0.85);
    color: hsl(192, 39%, 23%);
}

.footer .container {
    max-width: 95vw;
    margin: 0;
}

.footer .row{
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 350px;
    margin: 0;
}

.footer .col-md-4 {
    display: block;
    padding: 30px;
}

.container1{
    width: 280px;
    height: auto;
    position: relative;
    left: -90px;
    top: 50px;
}

.container2{
    width: 280px;
    height: auto;
    position: relative;
    left: -200px;
    top: 50px;
}

.footer .arriba{
    border: 1px solid hsla(67, 90%, 34%, 0.471);
    width: 40px;
    height: 40px;
    background-color:hwb(62 0% 0%);
    position: absolute;
    left: 700px;
    transform: translateX(-50%);
    top: -20px;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px 1px hwb(67 4% 35% / 0.892);
}

.footer .arriba:hover{
    cursor: pointer;    
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px 10px #4c5605;
}

.footer h4 {
    font-weight: bold;
    text-align: center;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.footer ul a{
    font-size: 20px;
    text-decoration: none;
    color: hwb(61 0% 84%);
    transition: all 0.3s ease-in-out;
}

.footer ul a:hover{
    font-weight: bold;
    color: hwb(193 0% 85%);
    transition: all 0.3s ease-in-out;
}

ul.img-footer{
    width: 200px;
    height: 200px;
    position: relative;
    top: -20px;
    left: 80px;
    margin: 0 !important;
    padding: 0 !important;
}

.footer ul img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
}

.footer ul img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 50px 10px rgb(65, 51, 2);
}

iframe.mapa{
    position: relative;
    left: 600px;
    top: -250px;
    width: 300px;
    height: 300px;
}